.logo1 {
  width: 110px;
  margin-top: 50px;
}
.loginBox {
  border: 1px solid black;
  width: 600px;
  margin-left: 394px;
  height: 350px;
}
.googleBtn {
  border-radius: 20px;
  width: 380px;
  padding: 5px 0px;
  margin-bottom: 20px;
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
}
